@media (max-width : 640px) {
    .top {
        width: 100%;
    }
    .subheading {
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .card {
        width: 100%;
        height: fit-content;
    }
    .card p {
        font-size: 0.7rem;
    }
}